<!--  1st Cards Section Below Carousel -->
    <section class="card-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-custom bg-dark text-light">
                        <div class="icon mb-3">
                            <img src="static/images/prevention.png" style="height: auto; width: auto;" alt="Icon 1">
                        </div>
                        <h5>Strengthening Prevention</h5>
                        <p>Educating vulnerable communities about the risks of trafficking through awareness campaigns,
                            workshops, and collaborations with local leaders, with a focus on addressing root causes
                            like poverty, lack of education, and gender inequality.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-custom bg-warning text-light">
                        <div class="icon mb-3">
                            <img src="static/images/support.png" alt="Icon 2">
                        </div>
                        <h5>Providing Comprehensive Support</h5>
                        <p>Offering holistic care and rehabilitation services for survivors, including legal assistance,
                            psychological counseling, healthcare, vocational training, and safe housing to help them
                            reintegrate into society.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-custom bg-dark text-light">
                        <div class="icon mb-3">
                            <img src="static/images/advocate.png" alt="Icon 3">
                        </div>
                        <h5>Advocating for Policy Change</h5>
                        <p>Actively lobbying for stronger national and international laws to combat human trafficking,
                            working with governments and law enforcement to ensure stricter penalties for traffickers,
                            and promoting victim-centered policies that prioritize protection and recovery for
                            survivors.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-custom bg-warning text-light">
                        <div class="icon mb-3">
                            <img src="static/images/leadership.png" alt="icon 4">
                        </div>
                        <h5>Cultivating Leadership</h5>
                        <p>Empowering survivors of human trafficking to become advocates and leaders in their
                            communities by providing them with leadership training, mentorship, and support to share
                            their stories and influence policy changes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>