<!DOCTYPE html>
<html lang="en">
<head></head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>KIN NEPAL</title>
    <style>
     /* Global Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }


        /* Biography Section */
        .bio-section {
            margin-top: 2rem;
            padding: 1.5rem;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .bio-header {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }

        .profile-pic {
            flex: 1 1 200px;
            max-width: 300px;
            border-radius: 60%;
        }

        .bio-text {
            flex: 2 1 500px;
        }

        .bio-text h2 {
            color: #3a3a3a;
            margin-bottom: 1rem;
        }

        .bio-text p {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        /* Responsive */
        @media (max-width: 768px) {
            .bio-header {
                flex-direction: column;
                text-align: center;
            }

            .bio-photo {
                max-width: 100%;
            }

            nav ul {
                flex-direction: column;
            }
        }
    </style>

</head>
<body>
{{>navbar}}

 <!-- block section of Ramesh Chandra Sapkota -->
    <section class="bio-section container" id="ramesh">
        <div class="bio-header">
            <img src="/static/images/ramesh.jpg" alt="Ramesh Chandra Sapkota" class="profile-pic">
            <h2>Ramesh Chandra Sapkota</h2>
            <div class="bio-intro">
                <p>
                    मानिस सामाजिक प्राणी हो । मानिसको जीवन अमुल्य छ वा कुनै मुल्य नै हुदैन तर पनि मानिसले मानिसलाई
                    बेचेको, शोषण गरेको, गलत नियतको साथ ओसारपसार, दुरव्र्यवाहार र लैङ्गिक हिंसाबाट पीडित तथा प्रभावित
                    भएको देखेका र सुनेका छौ । यस्ता किसिमका घट्नाहरु अनैतिक र गैर(कानुनी छन् त्यसैले पीडित तथा
                    प्रभावितहरुको लागि सेवा, उनीहरुको हक र अधिकारको सुनिश्चताको लागि काम गर्नु आफ्नो कर्तव्य र
                    जिम्मेवारीको रुपमा लिएको छु ।
                </p>
                <p>
                    मलाई स्मरण छ, २०४५ साल फाल्गुणमा मेरो गृह जिल्लाको कुनै अस्पतालमा एक महिलामा एच.आई.भि.को संक्रमण
                    थियो । पिडादायी अवस्थामा रहेकी ति महिलालई सेवा गर्न कोहि तयार नहुंदा मेरो आमाले व्यक्तिगत
                    जीवनभन्दा माथि उठेर घरसम्म लैजाने र सेवा गर्ने शाहस बटुल्नु भयो, मैले उक्त घट्नाबारे जे यथार्थ
                    पाएँ त्यहि दिनबाट पीडित तथा प्रभावितको लागि काम गर्ने अनुभुति जागेर आउंछ । मैले यस्तै प्रकृतिको
                    केही घट्नाहरुको अध्ययन समेत गरे तव उनीहरुको लागि सामाजिक न्याँय दिलाउने आफ्नो लक्ष्य निर्धारण
                    गरे ।
                </p>
                <p>
                    “मेरी पिन्की खोई, मेरी पिन्की बँचाईदिनुस” जुन वाक्य जीवनको अन्तिम क्षणमा ति एच.आई.भि.संक्रमित
                    महिलाको वाक्य थियो । ति महिला बम्बईको एक बेश्यालयवाट उद्धार गरिएकी थिइन । ती महिलाले वेश्यालयमा
                    पिन्कीलाई जन्म दिएकी थिईन । हामीलाई ढिला भईसकेको थियो कि उनले नाम लिएको पिन्कीको बारेमा सोध्न१
                    पिन्की कहांँ छन रु पिन्कीको अवस्था के छ रु हजारौ एच.आई.भि.संक्रमित आमा, दिदी, बहिनी र पिन्की
                    जस्तै छोरीहरुले अझैपनि त्यहि अवस्था भोगिरहेको हामीलाई अवगत नै छ । शुरुवातको वर्षहरुमा यौन शोषणको
                    लागि भारतको विभिन्न शहरहरुमा हुने चेलीवेटि बेचबिखन नियन्त्र हुनुको अलावा आन्तरिक, सीमापार र
                    समुन्द्रपारको देशहरुमा फैलनुले हामीलाई थप लज्जित तुल्याएको छ । आन्तरिक तथा बाह्य रुपमा बेचबिखनमा
                    परेका, शोषणमा र झुक्यानमा परेका बालबालिका, किशोरी र महिलाहरुको पहिचान, उद्धार, संरक्षण, रोकथाम र
                    कानुनी सेवामा आफन्त नेपालको यात्रा १८ वर्ष भइसकेको छ ।
                </p>
                <p>
                    आफन्त नेपालको स्थापना पश्चात आजसम्म आउंदा हजारौ किशोरी र महिलाहरुले संरक्षण र कानूनी सेवा र
                    रोकथाममूलक सन्देशहरु प्राप्त गरेका छन् । लाखौ मानिसहरु मानव बेचबिखन तथा ओसारपसार नियन्त्रण र
                    लैङ्गिक हिंसा अन्त्यको अभियानमा जुट्दै गर्दा हाम्रो देश मानव बेचबिखन तथा ओसापसारको लागि स्रोत,
                    ट्रान्जिट र गतव्य बन्नुले हामी सबैलाई थप चिन्तित बनाएको छ । श्रम शोषण, दास तुल्याउने, यौन शोषण,
                    झुक्यानमा पारी विवाह गराउने, कानुन विपरीत मानव अङ्ग झिक्ने, व्यावसायिक रुपमा बच्चा जन्माउनको
                    लागि कोख भाडामा लेन देन गर्ने (सेरोगेट मदर) जस्ता अपराधजन्य घट्नाहरुको बृद्धिले आफन्त नेपालको
                    काम, कर्तव्य, जिम्मेवारी अझै थपिएको अनुभुति गरेको छु । प्रभावितहरुको उद्धार, संरक्षण, कानुनी
                    सहयोग र पुनस्र्थापनाको लागि आफन्त नेपालको प्रभावित केन्द्रित योजना र कार्यान्वय र समुदाय स्तरमा
                    सहयोग गर्ने प्रकृयाले दिगो पुर्नस्थापनाको सुनिश्चित गरेको ठान्दछु ।
                </p>
                <p>
                    मानव बेचबिखन तथा ओसारपसार र लैङ्गिक हिंसाको घट्नाले संविधानमा शुनिश्चित हक र अधिकारमा उलङ्खहुन
                    पुगेको सन्र्दभमा पिडीत तथा प्रभावितमा परेको पीडालाई अनुभुति गर्ने र थप सशक्त कार्यक्रम सहित
                    प्रतिकार गर्ने प्रेरणा तपाई(हामी सबैमा मिलोस भन्ने नितान्त मेरो आग्रह छ । सिमा निगरानी,
                    बेचबिखनको सभावित क्षेत्रहरुको अवलोकन र काम, कार्वाही, प्रभावित र बेचबिखनको उच्च जोखिममा रहेका
                    बालबालिका, किशोरी र महिलाहरुको पहिचान गरी रोकथाम, उद्धार, संरक्षण, अभियोजन, पुनस्र्थापना तथा
                    पुनर्मिलनको प्रगति प्रशंसनीय रहेको मलाई अनुभुती भएको छ ।
                </p>
                <p>
                    प्रभावितहरुको सुरक्षा, आवास, परामर्श, आम्दानीको सुनिश्चतता, सामाजिक स्वीकार्यता, पारीवारिक
                    सहयोगलागि आफन्त नेपालको प्राथमिकताको विषय रहनेछ भन्ने ठानेको छु । अन्तमाः आफन्त नेपाललाई
                    यहाँसम्म आईपुग्न सहयोग गर्नुहुने तीनै तहको सरकार, नेपाल प्रहरी, प्रभावित, निजी तथा सामूदायिक संघ
                    संस्था, नागरिक समाज,संञ्चार जगत, संञ्जाल र समूह, व्यावसायी, परिवार सबैमा कृतज्ञता प्रकट गर्दछु ।
                </p>
                <p>
                    धन्यवाद ।
                </p>
                <p>
                    रमेशचन्द्र सापकोटा,
                    संरक्षक(आफन्त नेपाल)
                </p>

            </div>
        </div>
    </section>
    <!-- End of block section of Ramesh Chandra Sapkota -->

    <!-- block section of Mohan Chamlagain -->
    <section class="bio-section container" id="mohan">
        <div class="bio-header">
            <img src="/static/images/mohan.jpg" alt="Mohan Chamlagain" class="profile-pic">
            <h2>Mohan Chamlagain</h2>
            <div class="bio-intro">
                <p>
                    नेपाल सरकारबाट मानव बेचबिखन तथा ओसारपसार (नियन्त्रण) ऐन २०६४ को जारी भए लगतै मानव बेचबिखन  तथा ओसारपसार जस्तो जघन्य, संगठित अपराध नियन्त्रण र लैङ्गिक हिंसा अन्त्यको लागि २०६४ सालमा आफन्त नेपालको स्थापना भएको हो । 
                </p>
                <p>
                    आफन्त नेपालले विशेष गरी मानव बेचबिखन तथा ओसारपसार र लैङ्गिक हिंसाबाट प्रभावित, मानव बेचबिखनको उच्च जोखिममा रहेका, यौन दुव्र्यवहार र व्यवसायिक यौन शोषणमा परेका बालबालिका, महिला र किशारीहरुको रोकथाम र संरक्षण, कानुनी सेवा र उनीहरुको लागि दिगो पुनस्र्थापना लक्ष्य निर्धारण गरेको छ । 
                </p>
                <p>
                    मानव बेचबिखन तथा ओसारपसार नियन्त्रणको लडाइ सहज भने छैन तथापी सरकारी निकाय, नेपाल प्रहरी, नागरिक समाज, संञ्चार जगत, निजी तथा सामुदाष्कि संघसंस्था, सामाजिक अभियान्ताको सहयोगमा मानव बेचबिखन तथा ओसारपसार  र लैङ्गिक हिंसा मुक्त समाजको स्थापनाको लागि आफन्त नेपाल अगाडि वढिरहेको छ । नेपालको संविधान २०७२ अनुसार शोषण विरुद्धका हक (धारा २९), महिला हक (धारा ३८), बालबालिका हक (धारा ३९) को सुनिश्चताको लागि रोकथाम, संरक्षण, अभियोजन, साझेदारी र पैरवी अन्र्तगत विभिध कार्यहरु गर्दै आएको छ । प्रभावित र बेचबिखनको उच्च जोखिममा रहेका बालबालिका, किशोरी र महिलाहरुलाई सिमा निगरानी केन्द्र, आवास गृह, तालीम केन्द्रको स्थापना, संञ्चालन, व्यवस्थापन गरी संस्थाको सेवाहरुलाई प्रभावकारी बनाउदै आएको छ । 
                </p>
                <p>
                    मानव बेचबिखन तथा ओसारपसार र लैङ्गिक हिंसाबाट प्रभावित र बेचबिखनको उच्च जोखिममा रहेका, बालबालिका, किशोरी र महिलाहरुको लागि रोकथाम, संरक्षण र अभियोजन, दिगो जिवीकोपार्जनको लागि संस्थालाई आर्थिक तथा प्राविधिक, समन्वय र सहयोग गर्नुहुने साझेदारी संस्था र व्यक्तित्वहरुलाई आफन्त नेपाल परिवारको तर्फवाट सदैब धन्यवाद दिन चाहन्छु र मानव बेचबिखन तथा ओसारपसार र लैङ्गिक हिंसा अन्त्य सस्थाँको काम र कर्तव्य भएको समेत जानाकारी गराउंदछु ।  
                </p>
                <p>
                    मानव बेचबिखनको बद्लिदो स्वरुपलाई नियन्त्रण गर्न कुनै व्यक्ति(विशेष, संघं(संस्था र सरकारी निकायको एकल प्रयासले संभावना छ्रैन । मानव बेचबिखन आज विश्वव्यापी समस्या र चुनौतिको रुपमा देखापरेको छ त्यसैले यसको नियन्त्रणको लागि बिश्वव्यापी रुपमा साझा अवधारणा र कार्यक्रम आवश्यक रहेकोले नेपालले बहुराष्ट्रिय संगठित अपराध विरुद्ध संयुक्त राष्ट्र संघीय महासन्धि अन्तर्गत मानव बेचविखन, खास गरी महिला र बालबालिकाको बेचविखन तथा ओसारपसारको रोकथाम, दमन तथा सजाय गर्ने सम्बन्धमा व्यवस्था भएको पूरक आलेख, २००० (पालेर्मो प्रोटोकल) लाई अनुमोदन गरिसकेको सबैलाइ अवगत नै छ । 
                </p>
                <p>
                    मानब बेचबिखन तथा ओसारपसार नियन्त्रणका लागि राष्ट्रिय समिति, जिल्ला समिति, स्थानिय समिति, लैङ्गिक हिंसा निगरानी समूह, नेपाल प्रहरी, शशत्र प्रहरी बल तथा सुरक्षा निकाय, सरकारी निकाय, कानून व्यवसायी, सञ्चारकर्मी, बिद्यालय, सघं संस्थाहरु, सामाजिक अभियान्ता, पेशागत संघ(संगठन लगायथ सिंगो नागरीक समाजसंगको सहकार्यमा आफन्त नेपालले गत आर्थिक वर्ष २०८०र२०८१ मा मानव बेचबिखन तथा ओसारपसार नियन्त्रण र लैङ्गिक हिंसा अन्त्यको लागि गरेका प्रयास र उपलब्धिलाई यस वार्षिक प्रतिवेदनमा समेट्ने प्रयत्न गरेका छ । यस जघन्य अपराध नियन्त्रणका लागि आगामी दिनहरुमा सम्पूर्ण सरोकार निकायहरुबीच पारस्परिक सहयोग र समन्वय गर्दै अगाडि बढने समेत विनम्र अनुरोध गर्दछु ।  
                </p>
                <p>
                    प्रभावित केन्द्रित कार्यक्रम, प्रभावितलाई परिवर्तनको लागि अगुवा सम्म रुपान्तरण गर्ने गरी दिगो पुनस्र्थापनाको लागि संस्था लागि परेको जानाकारी गराउन चाहन्छु । मानव बेचबिखन तथा ओसारपसार नियन्त्रण र लैङ्गिक हिंसा अन्त्यको लागि संस्थाले आफ्नो आन्तरिक क्षमतालाई मजवुत गर्दै लैजानको लागि सरोकार निकायहरुको समेत सहयोगको अपेक्षा गर्दछु । मानव बेचबिखन तथा ओसारपसार जस्तो जधन्य अपराधको विरुद्ध स्थापना कालदेखी सहयोग गर्नुहुने नेपाल प्रहरी, शशत्र प्रहरी बल, सरकारी निकाय, कानून व्यवसायी, सञ्चारकर्मी, नागरिक समाज, सघं संस्थाहरु, सामाजिक अभियान्ता, व्यावसायी लगायथ सिंगो नागरीक समाजसंग आगामी दिनहरुमा अझै कसिलो हात र खुल्ला मन लिएर प्रभावित केन्द्रित अवधारणालाई निरन्तरता दिदै जाने संस्थाको तर्फवाट यहाँहरु सबैमा अनुरोध गर्दछु । 
                </p>
                <p>
                    मानब बेचबिखनको तथा ओसारपसार र लैङ्गिक हिंसा अन्त्यको लागि आफन्त नेपालसंग साझेदारी गरी आर्थिक तथा प्राविधक सहयोग गर्नुहुने विकास साझेदार संस्थाहरुलाई हार्दिक धन्यवाद दिन चाहन्छु । 
                </p>
                <p>
                    धन्यवाद ।
                </p>
                <p>
                    मोहन चम्लागाई, 
                    अध्यक्ष (आफन्त नेपाल)
                </p>

            </div>
        </div>
    </section>
    <!-- End of block section of Mohan Chamlagain -->


 
 {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>   
</body>
</html>